<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Document</title>
</head>
<body bgcolor="#b8fec0">


<form id="checkbox"  action="" method="post">
    <input type="checkbox" name="contentid" value="21">解一元二次方程
    <input type="checkbox" name="contentid" value="220">二次函数图象和性质
    <input type="checkbox" name="contentid" value="221">待定系数法求二次函数解析式

    <p></p>

    <input type="checkbox" name="idd" value="5">5
    <input type="checkbox" name="idd" value="7">7
    <input type="checkbox" name="idd" value="8">8
    <input type="checkbox" name="idd" value="9">9
    <input type="checkbox" name="idd" value="10">10
    <p></p><input type="checkbox" name="idd" value="11">11
    <input type="checkbox" name="idd" value="12">12
    <input type="checkbox" name="idd" value="13">13
    <input type="checkbox" name="idd" value="14">14
    <input type="checkbox" name="idd" value="15">15
    <input type="checkbox" name="idd" value="16">16
    <input type="checkbox" name="idd" value="17">17
    <input type="checkbox" name="idd" value="18">18
    <input type="checkbox" name="idd" value="19">19
    <input type="checkbox" name="idd" value="20">20
    <p></p>
    <input type="checkbox" name="idd" value="22">22
    <input type="checkbox" name="idd" value="23">23
    <input type="checkbox" name="idd" value="24">24
    <input type="checkbox" name="idd" value="25">25
    <input type="checkbox" name="idd" value="26">26
    <input type="checkbox" name="idd" value="27">27

    <input type="checkbox" name="idd" value="29">29

    <p></p><input type="checkbox" name="idd" value="31">31
    <input type="checkbox" name="idd" value="32">32

    <p></p>
    <input type="checkbox" name="idd" value="47">47
    <input type="checkbox" name="idd" value="48">48
    <input type="checkbox" name="idd" value="49">49
    <input type="checkbox" name="idd" value="50">50
    <hr/>
    <input type="submit" name="tijiao" value="通过">
    <hr/>
    <p></p><input type="checkbox" name="idd" value="51">51
    <input type="checkbox" name="idd" value="52">52
    <input type="checkbox" name="idd" value="53">53
    <input type="checkbox" name="idd" value="54">54
    <input type="checkbox" name="idd" value="55">55
    <input type="checkbox" name="idd" value="56">56
    <input type="checkbox" name="idd" value="57">57
    <input type="checkbox" name="idd" value="58">58
    <input type="checkbox" name="idd" value="59">59
    <input type="checkbox" name="idd" value="60">60
    <p></p><input type="checkbox" name="idd" value="61">61
    <input type="checkbox" name="idd" value="62">62
    <input type="checkbox" name="idd" value="63">63
    <input type="checkbox" name="idd" value="64">64
    <input type="checkbox" name="idd" value="65">65
    <input type="checkbox" name="idd" value="66">66
    <input type="checkbox" name="idd" value="67">67
    <input type="checkbox" name="idd" value="68">68
    <input type="checkbox" name="idd" value="69">69
    <input type="checkbox" name="idd" value="70">70
    <p></p><input type="checkbox" name="idd" value="71">71
    <input type="checkbox" name="idd" value="72">72
    <input type="checkbox" name="idd" value="73">73

    <input type="checkbox" name="idd" value="75">75

    <input type="checkbox" name="idd" value="77">77

     <hr/>


</form>



</body>
</html>