<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Document</title>
</head>
<body bgcolor="#b8fec0">


<form id="checkbox"  action="" method="post">
    <input type="checkbox" name="contentid" value="21">解一元二次方程
    <input type="checkbox" name="contentid" value="220">二次函数图象和性质
    <input type="checkbox" name="contentid" value="221">待定系数法求二次函数解析式

    <p></p>

    <input type="checkbox" name="idd" value="5">5梁宇昊
    <input type="checkbox" name="idd" value="7">7朱语涵
    <input type="checkbox" name="idd" value="8">8颜千
    <input type="checkbox" name="idd" value="9">9梁君豪
    <input type="checkbox" name="idd" value="10">10吴家辉
    <p></p><input type="checkbox" name="idd" value="11">11王佳英
    <input type="checkbox" name="idd" value="12">12关思琪
    <input type="checkbox" name="idd" value="13">13梁悦然
    <input type="checkbox" name="idd" value="14">14梁心怡
    <input type="checkbox" name="idd" value="15">15陈茜
    <input type="checkbox" name="idd" value="16">16陈柯宇
    <input type="checkbox" name="idd" value="17">17张航
    <input type="checkbox" name="idd" value="18">18芦美婷
    <input type="checkbox" name="idd" value="19">19梁伟兴
    <input type="checkbox" name="idd" value="20">20蔡雨航
    <p></p>
    <input type="checkbox" name="idd" value="22">22梁鑫宇
    <input type="checkbox" name="idd" value="23">23
    <input type="checkbox" name="idd" value="24">24罗欣
    <input type="checkbox" name="idd" value="25">25缪可盈
    <input type="checkbox" name="idd" value="26">26应彤彤
    <input type="checkbox" name="idd" value="27">27李承卿

    <input type="checkbox" name="idd" value="29">29梁嘉妮

    <p></p><input type="checkbox" name="idd" value="31">31梁雨轩
    <input type="checkbox" name="idd" value="32">32郏琪隆

    <p></p>
    <input type="checkbox" name="idd" value="47">47徐权俊
    <input type="checkbox" name="idd" value="48">48陈依琳
    <input type="checkbox" name="idd" value="49">49黄紫怡
    <input type="checkbox" name="idd" value="50">50梁晶
    <hr/>
    <input type="submit" name="tijiao" value="通过">
    <hr/>
    <p></p><input type="checkbox" name="idd" value="51">51
    <input type="checkbox" name="idd" value="52">52周乐
    <input type="checkbox" name="idd" value="53">53毛宇迪
    <input type="checkbox" name="idd" value="54">54梁旖康
    <input type="checkbox" name="idd" value="55">55徐梦婷
    <input type="checkbox" name="idd" value="56">56金琦峰
    <input type="checkbox" name="idd" value="57">57梁迈之
    <input type="checkbox" name="idd" value="58">58吴妙建
    <input type="checkbox" name="idd" value="59">59丁雨晴
    <input type="checkbox" name="idd" value="60">60李成凯
    <p></p><input type="checkbox" name="idd" value="61">61陈怡兴
    <input type="checkbox" name="idd" value="62">62应璐忆
    <input type="checkbox" name="idd" value="63">63王海涛
    <input type="checkbox" name="idd" value="64">64韩雨欣
    <input type="checkbox" name="idd" value="65">65陈昕妤
    <input type="checkbox" name="idd" value="66">66吴嘉乐
    <input type="checkbox" name="idd" value="67">67徐纯耀
    <input type="checkbox" name="idd" value="68">68沈昊哲
    <input type="checkbox" name="idd" value="69">69陈佳意
    <input type="checkbox" name="idd" value="70">70梁宇帆
    <p></p><input type="checkbox" name="idd" value="71">71陈安琪
    <input type="checkbox" name="idd" value="72">72廖伟丹
    <input type="checkbox" name="idd" value="73">73陈陪鑫

    <input type="checkbox" name="idd" value="75">75杨奇钢

    <input type="checkbox" name="idd" value="77">77徐晨皓

     <hr/>


</form>



</body>
</html>