<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Document</title>
</head>
<body bgcolor="#b8fec0">


<form id="checkbox"  action="" method="post">
	<input type="checkbox" name="score" value="很认真，继续保持！">很认真，继续保持！
    <input type="checkbox" name="score" value="积极回答问题！">积极回答问题！
    <input type="checkbox" name="score" value="不认真，上课聊天！希望改进！">不认真，上课聊天！
    <p></p><input type="checkbox" name="score" value="不认真，上课不看黑板！希望改进！">不认真，上课不看黑板！
    <input type="checkbox" name="score" value="不够认真，懒动手！希望改进！">不够认真，懒动手！
   
    
    <p></p><input type="checkbox" name="idd" value="1">1黄朝阳
    <input type="checkbox" name="idd" value="2">2梁欣雨
    <input type="checkbox" name="idd" value="3">3施慧彬
    <input type="checkbox" name="idd" value="4">4梁雨欣
    <input type="checkbox" name="idd" value="5">5梁宇昊
    <input type="checkbox" name="idd" value="6">6蔡文彬
    <input type="checkbox" name="idd" value="7">7朱语涵
    <input type="checkbox" name="idd" value="8">8颜千
    <input type="checkbox" name="idd" value="9">9梁君豪
    <input type="checkbox" name="idd" value="10">10吴家辉
    <input type="checkbox" name="idd" value="11">11王佳英
    <input type="checkbox" name="idd" value="12">12关思琪
    <input type="checkbox" name="idd" value="13">13梁悦然
    <input type="checkbox" name="idd" value="14">14梁心怡
    <input type="checkbox" name="idd" value="15">15陈茜
    <input type="checkbox" name="idd" value="16">16陈柯宇
    <input type="checkbox" name="idd" value="17">17张航
    <input type="checkbox" name="idd" value="18">18芦美婷
    <input type="checkbox" name="idd" value="19">19梁炜兴
    <input type="checkbox" name="idd" value="20">20蔡雨航
    <input type="checkbox" name="idd" value="21">21朱可婧
    <input type="checkbox" name="idd" value="22">22梁鑫宇
    <input type="checkbox" name="idd" value="23">23马成作
    <input type="checkbox" name="idd" value="24">24罗欣
    <input type="checkbox" name="idd" value="25">25缪可盈
    <input type="checkbox" name="idd" value="26">26应彤彤
    <input type="checkbox" name="idd" value="27">27李丞卿
    <input type="checkbox" name="idd" value="28">28吴佳欣
    <input type="checkbox" name="idd" value="29">29梁嘉妮
    <input type="checkbox" name="idd" value="30">30周荣欢
    <input type="checkbox" name="idd" value="31">31梁雨轩
    <input type="checkbox" name="idd" value="32">32郏琪隆
    <input type="checkbox" name="idd" value="33">33梁李艺
    <input type="checkbox" name="idd" value="34">34蔡融金
    <input type="checkbox" name="idd" value="35">35陈优优
    <input type="checkbox" name="idd" value="36">36黄珂
    <input type="checkbox" name="idd" value="37">37梁家豪
    <input type="checkbox" name="idd" value="38">38王俊杰
    <input type="checkbox" name="idd" value="39">39梁成
    <input type="checkbox" name="idd" value="40">40陈柔伊
    <input type="checkbox" name="idd" value="41">41陈嘉琳
    <input type="checkbox" name="idd" value="42">42梁航瑜
    <input type="checkbox" name="idd" value="43">43张梦瑶
    <input type="checkbox" name="idd" value="44">44蒋绅宇
    <input type="checkbox" name="idd" value="45">45
    <input type="checkbox" name="idd" value="46">46
    <input type="checkbox" name="idd" value="47">47徐权俊
    <input type="checkbox" name="idd" value="48">48陈依琳
    <input type="checkbox" name="idd" value="49">49黄紫怡
    <input type="checkbox" name="idd" value="50">50梁晶
    <hr/>
    <input type="submit" name="tijiao" value="提交">  
    <hr/>
    <input type="checkbox" name="idd" value="51">51厉涵婷
    <input type="checkbox" name="idd" value="52">52周乐
    <input type="checkbox" name="idd" value="53">53毛宇迪
    <input type="checkbox" name="idd" value="54">54梁旖康
    <input type="checkbox" name="idd" value="55">55徐梦婷
    <input type="checkbox" name="idd" value="56">56金琦峰
    <input type="checkbox" name="idd" value="57">57梁迈之
    <input type="checkbox" name="idd" value="58">58吴妙建
    <input type="checkbox" name="idd" value="59">59丁雨晴
    <input type="checkbox" name="idd" value="60">60李程凯
    <input type="checkbox" name="idd" value="61">61陈怡兴
    <input type="checkbox" name="idd" value="62">62应璐忆
    <input type="checkbox" name="idd" value="63">63王海滔
    <input type="checkbox" name="idd" value="64">64韩雨欣
    <input type="checkbox" name="idd" value="65">65陈昕妤
    <input type="checkbox" name="idd" value="66">66吴嘉乐
    <input type="checkbox" name="idd" value="67">67徐纯耀
    <input type="checkbox" name="idd" value="68">68沈昊哲
    <input type="checkbox" name="idd" value="69">69陈佳意
    <input type="checkbox" name="idd" value="70">70梁宇帆
    <input type="checkbox" name="idd" value="71">71陈安琪
    <input type="checkbox" name="idd" value="72">72廖伟丹
    <input type="checkbox" name="idd" value="73">73陈培鑫
    <input type="checkbox" name="idd" value="74">74杨佳怡
    <input type="checkbox" name="idd" value="75">75杨奇钢
    <input type="checkbox" name="idd" value="76">76邓瑞
    <input type="checkbox" name="idd" value="77">77徐晨皓
    <input type="checkbox" name="idd" value="78">78沈佳雪
    <input type="checkbox" name="idd" value="79">79梁雨萌
    <input type="checkbox" name="idd" value="80">80吴俊达
    <input type="checkbox" name="idd" value="81">81汪可柠
    <input type="checkbox" name="idd" value="82">82梁家律
    <input type="checkbox" name="idd" value="83">83陈星宇
    <input type="checkbox" name="idd" value="84">84梁馨月
    <input type="checkbox" name="idd" value="85">85
    <input type="checkbox" name="idd" value="86">86
    <input type="checkbox" name="idd" value="87">87徐佳豪
    <input type="checkbox" name="idd" value="88">88
    <input type="checkbox" name="idd" value="89">89陈婧涵
    <input type="checkbox" name="idd" value="90">90
    <input type="checkbox" name="idd" value="91">91
     <hr/>
    
    
</form>  


	
</body>
</html>