<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>首页</title>
</head>
<body>


 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="5">登陆界面</font></a></div>
                    <hr/>
                    <div class="panel-body">
                     <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td><font size="4">账号:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="user"></td>
                </tr>
                <tr>
                    <td><font size="4">密码:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="pwd"></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="--->>登陆<<---" ></td>
                </tr>
                <a><font size="5" color="red">{{errors}}</font></a>

                
            </tbody>
        </table>
    </form> 
   
                    </div>
                </div>
            </div>      
</body>
</html>