{% extends 'base2.html' %}
{% block content %}
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="time0" size="5"></td>
                </tr>
                <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作业名称:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="name" size="5"></td>
                </tr>
                <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作业情况:</font></td>
                </tr>
                <tr>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ms" value="作业抄袭">抄袭</td>
                </tr>
                <tr>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ms" value="作业不认真">不认真</td>
                </tr>
                <tr>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ms" value="作业没写">没写</td>
                </tr>
                <tr>

                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生ID:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="stu_id" size="5"></td>
                </tr>
                <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;处理状态:</font></td>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ornot" value="作业还没补做" checked></td>
                </tr>
                <tr>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" size="5" value ="添加信息" ></td>
                </tr>


            </tbody>
        </table>
    </form>
{% endblock %}
