<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Document</title>
</head>
<body bgcolor="#b8fec0">


<form id="checkbox"  action="" method="post">
    <input type="checkbox" name="score" value="10">10分
    <input type="checkbox" name="score" value="20">20分
    <input type="checkbox" name="score" value="30">30分

    <p></p>

    <input type="checkbox" name="idd" value="34">34蔡融金
    <input type="checkbox" name="idd" value="41">41陈嘉琳
    <input type="checkbox" name="idd" value="89">89陈婧涵
    <input type="checkbox" name="idd" value="40">40陈柔伊
    <input type="checkbox" name="idd" value="83">83陈星宇
    <p></p><input type="checkbox" name="idd" value="35">35陈优优
    <input type="checkbox" name="idd" value="86">86陈宇杰
    <input type="checkbox" name="idd" value="44">44蒋绅宇
    <input type="checkbox" name="idd" value="39">39梁成
    <input type="checkbox" name="idd" value="42">42梁航瑜
    <input type="checkbox" name="idd" value="110">110梁昊嘉杰
    <input type="checkbox" name="idd" value="37">37梁家豪
    <input type="checkbox" name="idd" value="82">82梁家律
    <input type="checkbox" name="idd" value="33">33梁李艺
    <input type="checkbox" name="idd" value="45">45梁棋皓
    <p></p>
    <input type="checkbox" name="idd" value="84">84梁馨月
    <input type="checkbox" name="idd" value="70">70梁宇帆
    <input type="checkbox" name="idd" value="79">79梁雨萌
    <input type="checkbox" name="idd" value="90">90陆胤伊
    <input type="checkbox" name="idd" value="46">46潘星安
    <input type="checkbox" name="idd" value="78">78沈佳雪

    <input type="checkbox" name="idd" value="81">81汪可柠

    <p></p><input type="checkbox" name="idd" value="38">38王俊杰
    <input type="checkbox" name="idd" value="28">28吴佳欣

    <p></p>
    <input type="checkbox" name="idd" value="80">80吴俊达
    <input type="checkbox" name="idd" value="87">87徐佳豪
    <input type="checkbox" name="idd" value="88">88徐嘉嘉
    <input type="checkbox" name="idd" value="74">74杨佳怡
    <hr/>
    <input type="submit" name="tijiao" value="加分">
    <hr/>
    <p></p><input type="checkbox" name="idd" value="43">43张梦瑶
    <input type="checkbox" name="idd" value="30">30周荣欢


     <hr/>


</form>



</body>
</html>