{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'base2.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body bgcolor="#b8fec0">
<style> 
div{text-align:center} 
</style> 
 <div class="nav">
        <a class="logo" href="../../">
            <h3>首页</h3>
        </a>
        <a href="../../exam" ><font size="5" color="red">&nbsp;考试&nbsp;</font></a>
	    <a href="../../homework" ><font size="5" color="red">&nbsp;作业&nbsp;</font></a>
        <a href="../../class" ><font size="5" color="red">&nbsp;课堂&nbsp;</font></a>

	    <a href="../../onlinetestrank"><font size="5" color="red">测试排行榜</font></a>
	    <a href="../../onlinetest"><font size="5" color="red">在线测试</font></a>
	    <a href="../../logout"><font size="5" color="black">注销</font></a>
	    
    </div>
    {% block content %}{% endblock %}
</body>

</html>