<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body bgcolor="#b8fec0">
<h2>首页</h2>
<ul>
	<hr/>
	<li><a href="../../learningnews" ><font size="5" color="red">点此查询学习情况</font></a></li>
	<hr/>
	
	<hr/>
	<li><a href="../../onlinetest"><font size="5" color="red">在线测试</font></a></li>
	<hr/>
</ul>
{% block content %}
{% endblock  %}	
</body>
</html>