{% extends 'base2.html' %}  
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">考试成绩查询结果</font></a></div>
                    <div class="panel-body">
                        {{ imd | safe }}
                      <table id="num" class="table table-bordered" >

         <tr>
             <td style="vertical-align: middle;" ><font size="4">序号</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">考试时间</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">学生姓名</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">考试内容</font></td>
            <td class="warning" style="vertical-align: middle;"> <font size="4">考试成绩</font></td>
            
            
        </tr>
        {%for i in exammessages %}
            <tr  >
                <td style="vertical-align: middle;" > <font size="3" color="red"></font></td>
                <td class="active"><font size="3" color="red" style="vertical-align: middle;">{{i.examtime}}</font></td>
                <td class="danger"><font size="3" color="red" style="vertical-align: middle;">{{i.examstudent}}</font></td>
                <td class="active"><font size="3" color="red" style="vertical-align: middle;">{{i.examname}}</font></td>
                <td class="danger"><font size="3" color="red" style="vertical-align: middle;">{{i.examscore}}</font></td>
            </tr>


        {% empty %}
        <p><font size="5" color="red">暂无相关信息</font></p>
        {% endfor %}

    </table> 
     </div>
                </div>
            </div>    
            </div> 
<script language="javascript" type="text/javascript">
	    window.onload = function(){
		    var oTable = document.getElementById("num");
		    for(var i=0;i<oTable.rows.length;i++){
		    n=oTable.rows.length;
		    oTable.rows[i+1].cells[0].innerHTML =(n-i-1) ;
	    }
    }
    </script>
{% endblock %}

