{% extends 'base2.html' %}  
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">不良记录</font></a></div>
                    <div class="panel-body">
                        <a>消除记录方法：完成相应作业或任务，然后告诉老师id消除</a>
                      <table id="num" class="table table-bordered" >

         <tr>
             <td style="vertical-align: middle;" ><font size="4">序号</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">姓名</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">不良记录</font></td>
             <td class="warning" style="vertical-align: middle;"><font size="4">id</font></td>
             <td class="warning" style="vertical-align: middle;"><font size="4">时间</font></td>

            
            
        </tr>
        {%for i in ms %}
            <tr id="hys" >
                <td style="vertical-align: middle;" > <font size="3" color="red"></font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.name}}</font></td>
                <td class="danger" style="vertical-align: middle;"><font size="3" color="red" >{{i.hwname}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.id}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.time}}</font></td>

            </tr>


        {% empty %}
        <p><font size="5" color="red">恭喜你！暂无不良记录！</font></p>
        {% endfor %}

    </table> 
     </div>
                </div>
            </div>    
            </div>

<script language="javascript" type="text/javascript">
	    window.onload = function(){

		    var oTable = document.getElementById("num");
		    for(var i=0;i<oTable.rows.length;i++){
		    n=oTable.rows.length;
		    oTable.rows[i+1].cells[0].innerHTML =(n-i-1) ;
	    }

    }
    </script>

{% endblock %}

