{% extends 'base2.html' %}  
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">积分碰撞</font></a></div>
                    <div class="panel-body">

                             <ul><li>10积分参与一次；满10人开一次奖</li>
                                 <li>随机抽4人获奖</li>
                                 <li>一等奖1人奖励30积分</li>
                                 <li>二等奖2人奖励20积分</li>
                                 <li>三等奖1人奖励15积分</li>
                             </ul>
                         <form id="addtxl" onsubmit="return false" action="{% url 'getluckyshow' %}" method="POST" style="overflow:hidden">
       <table>
           <tbody>

                 <tr>
<!--                    <td><font size="5">请输入兑换个数</font></td>-->
                     <td><input type="hidden" style="color:red;width:180px;height:30px;font-size:16px" name="num" value="666"></td>
                </tr>


                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="->参与<-" ></td>
                </tr>


            </tbody>
        </table>
    </form>
                        <table id="num" class="table table-bordered" >

         <tr>
             <td style="vertical-align: middle;" ><font size="4">序号</font></td>
             <td class="warning" style="vertical-align: middle;"><font size="4">参与人</font></td>
             <td class="warning" style="vertical-align: middle;"><font size="4">时间</font></td>

        </tr>
        {%for i in ms1 %}
            <tr id="hys" >
                <td style="vertical-align: middle;" > <font size="3" color="red"></font></td>
                 <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.name}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.time}}</font></td>

            </tr>


        {% empty %}
        <p><font size="5" color="red">暂无信息</font></p>
        {% endfor %}

    </table>
     </div>
                </div>
            </div>    
            </div>
<hr/>
     <h1>往期中奖名单</h1>

             {%for i in ms2 %}
         <p>第{{i.idd}}期:{{i.time}}-{{i.name}}-{{i.rank}}等奖-获得{{i.num}}</p>

        {% empty %}
        <p><font size="5" color="red">暂无信息</font></p>
        {% endfor %}
<script language="javascript" type="text/javascript">
	    window.onload = function(){

		    var oTable = document.getElementById("num");
		    for(var i=0;i<oTable.rows.length;i++){
		    n=oTable.rows.length;
		    oTable.rows[i+1].cells[0].innerHTML =(n-i-1) ;
	    }

    }
    </script>

     <script type="text/javascript">
        $("#addtxl").submit(function(){

            // 异步提交
            $.ajax({
                url: "{% url 'getluckyshow' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);


                    if(data['status']=="success"){
                    $("#error").text(data['error']);
                    alert(data['error']);
             setTimeout(function () {
                    window.parent.location.reload();
                }, 1000);


                    }else{
                        // 显示错误信息
                        $("#error").text(data['error']);
                        alert(data['error']);
                        setTimeout(function () {
                    window.parent.location.reload();
                }, 1000);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>

{% endblock %}

