{% extends 'base2.html' %}  
{% block content %}
  
 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">基础过关</font></a></div>
                    <div class="panel-body">
                    <ul>
                        <li>
                            <a  href='../../jcgg/21'   ><font size="4" color="red">1.解一元二次方程</font> </a>

                        </li>
                        <li>
                            <a  href='../../jcgg/220'  ><font size="4" color="red">2.二次函数图象和性质</font> </a>

                        </li>
                        <li>
                            <a  href='../../jcgg/221'   ><font size="4" color="red">3.求二次函数解析式</font> </a>

                        </li>
                    </ul>

                    </div>
                </div>
            </div> 
            </div> 
            </div>

{% endblock %}

