{% extends 'base2.html' %}  
{% block content %}
    <div class="panel-heading"><a><font size="6">作业情况查询结果</font></a></div>
                    <div class="panel-body">
        
    {{ imd | safe}}
    <p><font size="2" color="red">每日情况</font></p>      

                     <table id="num" class="table table-bordered" border="1" cellpadding="6" >
        <tr class="warning">
            <td style="vertical-align: middle;
"><font size="4">序号</font></td>
            <td style="vertical-align: middle;"><font size="4">姓名</font></td>
            <td style="vertical-align: middle;"><font size="4">时间</font></td>
            <td style="vertical-align: middle;"><font size="4">内容</font></td>
            <td style="vertical-align: middle;"><font size="4">情况</font></td>
            
            
        </tr>
        {%for i in homeworkmessages %}
            <tr>
                <td style="vertical-align: middle;" ><font size="3" color="red"></font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red">{{i.homeworkstudent}}</font></td>
                <td class="danger" style="vertical-align: middle;"><font size="3" color="red">{{i.homeworktime}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red">{{i.homeworkname}}</font></td>
                <td class="danger" style="vertical-align: middle;"><font size="3" color="red">{{i.homeworkscore}}</font></td>
            </tr>
        {% empty %}
        <p><font size="2" color="red">暂无相关信息</font></p>
        {% endfor %}
    </table>       
                    </div>
                </div>
            </div> 
            </div> 
            </div>
<script language="javascript" type="text/javascript">
	    window.onload = function(){
		    var oTable = document.getElementById("num");
		    for(var i=0;i<oTable.rows.length;i++){
		    n=oTable.rows.length;
		    oTable.rows[i+1].cells[0].innerHTML =(n-i-1) ;
	    }
    }
    </script>
{% endblock %}

