{% extends 'base2.html' %}  
{% block content %}
  <style> 
div{text-align:center} 
</style> 
 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">作业情况查询结果</font></a></div>
                    <div class="panel-body">
        <p><font size="2" color="red">总体情况</font></p>  
                         <table border="1" cellpadding="6">
        <tr>
            <td><font size="2">学生姓名</font></td>
            <td><font size="2">A+很好(次数)</font></td>
            <td><font size="2">A(次数)</font></td>
            <td><font size="2">B(次数)</font></td>
            <td><font size="2">C(次数)</font></td>
            <td><font size="2">D(次数)</font></td>
            <td><font size="2">作业乱写(次数)</font></td>
            <td><font size="2">作业没交(次数)</font></td>
            
            
        </tr>
        {%for i in homeworkmessagesum %}
            <tr>
                <td><font size="3" color="red">{{i.student_name}}</font></td>
                <td><font size="3" color="red">{{i.aacount}}</font></td>
                <td><font size="3" color="red">{{i.acount}}</font></td>
                <td><font size="3" color="red">{{i.bcount}}</font></td>
                <td><font size="3" color="red">{{i.ccount}}</font></td>
                <td><font size="3" color="red">{{i.dcount}}</font></td>
                <td><font size="3" color="red">{{i.ecount}}</font></td>
                <td><font size="3" color="red">{{i.fcount}}</font></td>
                
                
            </tr>
        {% empty %}
        <p><font size="2" color="red"></font></p>
        {% endfor %}
    </table> 
    <hr/>
    <p><font size="2" color="red">每日情况</font></p>      

                     <table border="1" cellpadding="6">
        <tr>
            <td><font size="4">学生姓名</font></td>
            <td><font size="4">作业时间</font></td>
            <td><font size="4">作业内容</font></td>
            <td><font size="4">完成情况</font></td>
            
            
        </tr>
        {%for i in homeworkmessages %}
            <tr>
                <td><font size="3" color="red">{{i.homeworkstudent}}</font></td>
                <td><font size="3" color="red">{{i.homeworktime}}</font></td>
                <td><font size="3" color="red">{{i.homeworkname}}</font></td>
                <td><font size="3" color="red">{{i.homeworkscore}}</font></td>
            </tr>
        {% empty %}
        <p><font size="2" color="red">暂无相关信息</font></p>
        {% endfor %}
    </table>       
                    </div>
                </div>
            </div>        
{% endblock %}

