{% extends 'base2.html' %}  
{% block content %}

<script type="text/javascript">
var names={{names|safe}}
var stuids={{stuids|safe}}
window.onload=function(){
var options=getElementsByName("student");
for (var i=0;i<options.length;i++)
{
options[i].value=stuids[i];
options[i].innerText=names[i];

}
}
</script>
<div>
      <form id="addtxl" onsubmit="return false" action="{% url 'hwreward' %}" method="POST" style="overflow:hidden">
        <table>
            <tbody>
                <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A+</font></td>
                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="60"></td>
                </tr>
                 <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A</font></td>
                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="45"></td>
                </tr>
                 <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B+</font></td>
                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="25"></td>
                </tr>
                 <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B</font></td>
                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="15"></td>
                </tr>
                 <tr>
                    <td><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C</font></td>
                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="5"></td>
                </tr>
                 <tr>
                     <td><input type="hidden" style="color:red;width:180px;height:30px;font-size:16px" name="stuid" value=""></td>
                </tr>


                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="发放奖励" ></td>
                </tr>


            </tbody>
        </table>
    </form>
</div>


    <div id="studentlist">
        <ul>
           <li>
               <input  type="radio" name="student" value="" onclick="Select()">
           </li>
            <li>
               <input  type="radio" name="student" value="" onclick="Select()">
           </li>
            <li>
               <input  type="radio" name="student" value="" onclick="Select()">
           </li>
            <li>
               <input  type="radio" name="student" value="" onclick="Select()">
           </li>
            <li>
               <input type="radio" name="student" value="" onclick="Select()">
           </li>

        </ul>

    </div>

<script type="text/javascript">
        $("#addtxl").submit(function(){

            // 异步提交
            $.ajax({
                url: "{% url 'hwreward' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);


                    if(data['status']=="success"){
                    alert(data['error']);
             setTimeout(function () {
                    window.parent.location.reload();
                }, 200);


                    }else{
                        // 显示错误信息
                        $("#error").text(data['error']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>

<script language="javascript" type="text/javascript">
    function Select(){
    var xxs=document.getElementsByName("student");
    for(var i=0;i<xxs.length;i++){
    if(xxs[i].checked){
    document.getElementByName("stuid").value=xxs[i].value;
    }
    }
    }

</script>

{% endblock %}