{% extends 'base2.html' %}  
{% block content %}

<script type="text/javascript">
urls={{htmls|safe}}
window.onload=function(){
var urlsum='';
for (var i=0;i<urls.length;i++)
{

   urlsum+= urls[i];
}
studentlist.innerHTML=urlsum;
}
</script>
<div style="border:3px solid green;">
      <form id="addtxl" onsubmit="return false" action="{% url 'hwreward' %}" method="POST" style="overflow:hidden">
        <table align="center">
            <tbody>
                <tr>

                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="60"></td>
                    <td><font size="5">A+</font></td>
                </tr>
                 <tr>

                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="45"></td>
                     <td><font size="5">A</font></td>
                </tr>
                 <tr>

                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="25"></td>
                     <td><font size="5">B+</font></td>
                </tr>
                 <tr>

                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="15"></td>
                     <td><font size="5">B</font></td>
                </tr>
                 <tr>

                    <td><input type="radio" style="color:red;width:180px;height:30px;font-size:16px" name="option" value="5"></td>
                     <td><font size="5">C</font></td>
                </tr>
                 <tr>
                     <td><input id="stuid" type="hidden" style="color:red;width:180px;height:30px;font-size:16px" name="stuid" value=""></td>
                </tr>


                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="发放奖励" ></td>
                </tr>


            </tbody>
        </table>
    </form>
</div>


    <div style="border:3px solid blue;color:red;width:180px;height:30px;font-size:16px;" align="center">
        <ul id="studentlist" >

        </ul>

    </div>

<script type="text/javascript">
        $("#addtxl").submit(function(){

            // 异步提交
            $.ajax({
                url: "{% url 'hwreward' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);


                    if(data['status']=="success"){
                    alert(data['error']);
             setTimeout(function () {
                    window.parent.location.reload();
                }, 200);


                    }else{
                        // 显示错误信息
                        $("#error").text(data['error']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>

<script language="javascript" type="text/javascript">
    function Select(){
    var xxs=document.getElementsByName("student");
    for(var i=0;i<xxs.length;i++){
    if(xxs[i].checked){
    document.getElementById("stuid").value=xxs[i].value;
    }
    }
    }

</script>

{% endblock %}