<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>学习情况查询</title>
</head>
<body bgcolor="#b8fec0">
<h2>学习情况查询</h2>
<ul>
	<hr/>
	<li><a href="./homework" ><font size="5" color="red">点此查询作业情况</font></a></li>
	<hr/>
	<li><a href="./exam"><font size="5" color="red">点此查询考试成绩</font></a></li>
	<hr/>
	<hr/>
	<li><a href="../../testlogin"><font size="5" color="red">在线测试</font></a></li>
	<hr/>
</ul>
	
</body>
</html>