<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习情况查询</title>
</head>
<body bgcolor="#b8fec0">
<a><font size="6">考试成绩查询结果</font></a>
<table border="1" cellpadding="5">
        <tr>
            <td><font size="2">考试时间</font></td>
            <td><font size="2">学生姓名</font></td>
            <td><font size="2">考试内容</font></td>
            <td><font size="2">考试成绩</font></td>
            
            
        </tr>
        {%for i in exammessages %}
            <tr>
                <td><font size="2" color="red">{{i.examtime|date:"Y年m月d号"}}</font></td>
                <td><font size="2" color="red">{{i.examstudent}}</font></td>
                <td><font size="2" color="red">{{i.examname}}</font></td>
                <td><font size="2" color="red">{{i.examscore}}</font></td>
            </tr>
        {% empty %}
        <p>暂无相关信息</p>
        {% endfor %}
    </table>
<a><font size="6">作业情况查询结果</font></a>
  <table border="1" cellpadding="5">
        <tr>
            <td><font size="2">学生姓名</font></td>
            <td><font size="2">作业时间</font></td>
            <td><font size="2">作业内容</font></td>
            <td><font size="2">完成情况</font></td>
            
            
        </tr>
        {%for i in homeworkmessages %}
            <tr>
                <td><font size="2" color="red">{{i.homeworkstudent}}</font></td>
                <td><font size="2" color="red">{{i.homeworktime|date:"Y年m月d号"}}</font></td>
                <td><font size="2" color="red">{{i.homeworkname}}</font></td>
                <td><font size="2" color="red">{{i.homeworkscore}}</font></td>
            </tr>
        {% empty %}
        <p>暂时相关信息</p>
        {% endfor %}
    </table>	
</body>
</html>