<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
</head>
<body bgcolor="#b8fec0">
<a><font size="6">登陆界面</font></a>
<form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td><font size="5">请输入姓名:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="user"></td>
                </tr>
                <tr>
                    <td><font size="5">请输入学号:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="pwd"></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="--->>点击登陆<<---" ></td>
                </tr>
                <a><font size="4" color="red">{{errors}}</font></a>

                
            </tbody>
        </table>
    </form>	
    <p><font size="4" color="red">温馨提示：</font></p>
    <ul>
    <li><font size="4" color="red">八(7)班学号前6位为201707xx</font></li>
    <li><font size="4" color="red">八(8)班学号前6位为201708xx</font></li>
    <li><font size="4" color="red">不知道学号的可以看校牌</font></li>
    </ul>

</body>
</html>