{% extends 'base.html' %}

{% block content %}
<a>本次测试你的分数为：{{score}},低于历史纪录的分数将不会保存！</a>
<p><font size="6">测试排行榜</font></p>
    
    <table border="1" cellpadding="5">
        <tr>
            <td><font size="1">学生姓名</font></td>
            <td><font size="1">最后测试时间</font></td>
            <td><font size="1">测试内容</font></td>
            <td><font size="1">考试成绩</font></td>
            <td><font size="1">正确率</font></td>
            <td><font size="1">答题总数</font></td>
            
            
        </tr>
        {%for i in showscores %}
            <tr>
                <td><font size="1" color="red">{{i.scorename}}</font></td>
                <td><font size="1" color="red">{{i.scoreupdatetime|date:"Y年m月d号 H时m分"}}</font></td>
                <td><font size="1" color="red">{{i.scoreid}}</font></td>
                <td><font size="1" color="red">{{i.testscore}}</font></td>
                <td><font size="1" color="red">{{i.correctpercent}}</font></td>
                <td><font size="1" color="red">{{i.testamount}}</font></td>
            </tr>
        {% empty %}
        <p>----------</p>
        {% endfor %}
    </table>
   
{% endblock %}
