{% extends 'base2.html' %}  
{% block content %}
<style> 
div{text-align:center} 
</style> 

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="5">学号查询界面</font></a></div>
                    <hr/>
                    <div class="panel-body">
                     <form action="" method="post">
        <table>
            <tbody>
                <a><font size="6" color="red">请输入家长手机号:</font></a>
                <tr>
                    
                    
                    <td><input type="text" style="color:red;width:230px;height:50px;font-size:16px" name="phone"></td>
                   
                </tr>
                
                
                <tr>
                    
                    <td><input type="submit" style="color:red;width:200px;height:50px;font-size:16px" value =">>点此查询<<" ></td>
                </tr>
               

                

                
            </tbody>
        </table>
                <a><font size="5" color="red">{{errorss}}</font></a>
                 <p></p>
                 {%for i in studentids%}
                <a><font size="5" color="red">姓名：{{i.student}}</font></a>
                <p></p><a><font size="5" color="red">学号：{{i.studentid}}</font></a>
                {%endfor%}

                <p></p><p></p><a href="../../"><font size="5" color="blue" > >>点此返回登陆界面<<</font></a>
    </form> 
     <hr/>
    <p><font size="5" color="red">欢迎</font></p>
     <p><font size="5" color="red">访问</font></p>
      
        
         
    
<hr/>
   
                    </div>
                </div>
            </div>  


{% endblock %}