{% extends 'base2.html' %}  
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">幸运星星</font></a></div>
                    <div class="panel-body">


        {%for i in ms %}
                        <p><font size="3" color="red">{{i.time}}{{i.name}}抽得{{i.num}}朵红花</font></p>

        {% empty %}
        <p><font size="5" color="red">暂无相关信息</font></p>
        {% endfor %}

     </div>
                </div>
            </div>    
            </div>



{% endblock %}

