{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta  charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>



	<title>作业</title>

<style type="text/css">
* {
    margin:0;
    padding: 0;
}
#kuang{

margin: auto;

margin-top: 0px;

border: solid 5px #2371D3;

border-spacing: 0px;
display:none;
}
#pic{

margin: auto;

margin-top: 0px;

border: solid 2px #2371D3;

border-spacing: 0px;

}
#display0{
border: solid 2px #000000;
border-spacing: 0px;
background: #90EE90;
}
#display1{
border: solid 2px #000000;
border-spacing: 0px;
background: #FFFFF;
}
#ts{

margin: auto;

margin-top: 0px;

border: solid 3px #FFFFF;

border-spacing: 0px;

}
#calculater{

margin: auto;

margin-top: 0px;

border: solid 5px #2371D3;

border-spacing: 0px;
display:none
}

#display{

width: 100%;

height: 30px;

border-bottom: solid 4px #2371D3;

font-weight: bold;

color: #193D83;

font-family: 黑体;

padding-left: 2px;

}

.numberkey{

cursor: pointer;

width: 80px;

height: 60px;

border: solid 1px #FFFFFF;

background: #2371D3;

color: #ffffff;

text-align: center;

font-weight: bold;

font-family: 黑体;

}
.ts{

cursor: pointer;

width: 300px;

height: 20px;

border: solid 1px #FFFFF;

background: #F0F8FF;

color: #000000

text-align: center;

font-weight: bold;

font-family: 黑体;

}
.tm{

cursor: pointer;

width: 180px;

height: 20px;

border: solid 1px #FFFFF;

background: #00FF00;

color: #000000;

text-align: left;

font-weight: bold;

font-family: 黑体;

}
#equality{

cursor: pointer;

width: 40px;

height: 100%;

background: #2371D3;

border: solid 1px #FFFFFF;

color: #ffffff;

text-align: center;

font-weight: bold;

font-family: 黑体;

}

.numberkey:hover{

background: #EA6F30;

}

#equality:hover{

background: #EA6F30;

}
#display0{display:none;text-align:right;}
#display1{display:none;text-align:right;}

#startts{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  background: #00FF00;
  margin-top: 250px;
  font-size:60px;

}
#addtxl{display:none}
#testrm{display:none}
#checkbox{display:none}
</style>


</head>
<body bgcolor="#b8fec0">


<button id="startts" type="button" class="btn btn-success" onclick="startgo()">开始测试</button>

<div id="kuang">
<div id="Layer1" style="z-index:-100; left:0px; top:0px; width:100%">

    <div id="ms" >
<!--         <a>共</a><a id="sum"></a><a>题，</a><a>正在做第</a><a id="yzts"></a><a>题</a>-->
        <a>共</a><a id="sum"></a><a>题，</a><a>正在做第</a><a id="yzts"></a><a>题，做对</a><a id="correctamount"></a><a>题</a>
<!--        <a>&#45;&#45;通过测试需要答对</a><a id="limit"></a><a>题</a>-->
    </div>


<img id="pic" src="" width="100%" height="20%"/>
<p id="ts"  class="ts">@我思故我在@</p>
<input  id="display0" type="text" style="color:red;width:80px;height:30px;font-size:16px" name="studentanswer1" value="">

<form id="checkbox" action="" method="post">
<!--    <input id="time" type="hidden" name="time" value="" >-->
    <input id="zid" type="hidden" name="zid" value="" >
    <input id="jid" type="hidden" name="jid" value="" >
    <input id="tss" type="hidden" name="ts" value="" >
    <input id="dd" type="hidden" name="dd" value="" >
    <input id="wrong" type="hidden" name="wrong" value="" >

</form>

    <table id="calculater" onClick="calculater()">

<tr>
<td class="numberkey" >1</td>
<td class="numberkey" >2</td>
<td class="numberkey" >3</td>
<td class="numberkey" >-</td>
<td class="numberkey"  id="deletesign">+</td>
</tr>
<tr>
<td class="numberkey" >4</td>
<td class="numberkey" >5</td>
<td class="numberkey" >6</td>
<td class="numberkey" >^</td>
<td class="numberkey" onclick="resultscalcaulte()" >清空</td>
</tr>
<tr>
<td class="numberkey" >7</td>
<td class="numberkey" >8</td>
<td class="numberkey" >7</td>
<td class="numberkey" >V</td>
<td rowspan="3" id="equality" >提交答案</td>
</tr>
<tr >
<td class="numberkey" >9</td>
<td class="numberkey" >0</td>
<td class="numberkey" >D</td>
<td class="numberkey" >跳过</td>
</tr>
<tr >
<td id="select" class="numberkey" >A</td>
<td id="select" class="numberkey" >B</td>
<td id="select" class="numberkey" >C</td>
</tr>
 </table>
<!--    <img id="testrm" src="" width="100%" height="20%"/>-->
<!--    <audio id="music" autoplay="autoplay"  loop="loop" preload="auto"-->
<!--            	src="/media/music/1.mp3">-->
<!--	</audio>-->
    <button id="play" type="button" onclick="playy()">播放</button>
    <button id="pause" type="button" onclick="pausee()">暂停</button>
    <button id="next" type="button" onclick="music()">切歌now</button>
</div>
</div>
<script language="javascript" type="text/javascript">
var music={{music|safe}};
var n=0;
var ns={{ns}};
var mp3=music[n];
var mp33=new Audio(mp3);
var mus=document.getElementById("music");
window.onload=function(){mp33.load();}
function music(){

if(n==ns-1){n=0;}
else{n=n+1;}
mp3=music[n];
mp33.load();
mp33.play();
}
function playy(){
mp33.play();
}
function pausee(){
mp33.pause();
}


</script>
<script language="javascript" type="text/javascript">


var form = document.getElementById('checkbox');
var calresults="";
var results="";
var form2 = document.getElementById('checkbox');
var select=1;
var qstext={{qstext|safe}};
var testrmpc = {{testrmpc|safe}};
var qsanswer1={{qsanswer|safe}};
var ornot={{ornot}};
var qsid = {{qsid|safe}};
var qsamount = {{qsamount}};
var zid = {{id0}};
var jid = {{id1}};
var limit = 0;
var chance = 1;
var correct=0;
var had=1;
var wrongcount=new Array()
var right = "恭喜你！上一题答对了！！";
var wrong = "做错了！请重新做！画图、打草稿！";
var not = "通过失败，请重新测试！";
<!--var time1 = new Date();-->
var form = document.getElementById('wrong');
if(ornot==0){var s5="提交后不管通过与否，表格都会有记录，如果没有请联系老师！";}
else {var s5="提交后不管通过与否，表格都会有记录，如果没有请联系老师！";}
function Message(msss){ document.getElementById("ts").innerText=msss;
                        }
function Deletms(){document.getElementById("ts").innerText="";}
function startgo()
    { document.getElementById("display0").style.display="block";
     document.getElementById("kuang").style.display="block";
     document.getElementById("startts").style.display="none";
     document.getElementById("calculater").style.display="block";
     document.getElementById("sum").innerText=qsamount;
     document.getElementById("correctamount").innerText=correct;
     document.getElementById("yzts").innerText=had;
     document.getElementById("pic").src=qstext[0];
     document.getElementById("testrm").src=testrmpc[0];
    }



function calculater(){
if (event.srcElement.innerText=="清空") {

results="";
return;
}
else if (event.srcElement.innerText=="提交答案"){
                                                  var a=document.getElementById("display0").value;

                                                  if(qsanswer1[0]==a){
                                                                                        correct+=1;
                                                                                        document.getElementById("correctamount").innerText=correct;
                                                                                        had+=1;
                                                                                        Message(right);

                                                                                        window.setTimeout("Deletms()",2000);
                                                                                        if(had>qsamount){
                                                                                                                $("#zid").val(zid);
                                                                                                                $("#jid").val(jid);
                                                                                                                $("#tss").val(qsamount);
                                                                                                                $("#dd").val(correct);
                                                                                                                $("#wrong").val(wrongcount.toString());

                                                                                                                var s1="做对题数：";
                                                                                                                var s2=correct.toString();
                                                                                                                var s3=";点击确定或者关闭，保存数据。";
                                                                                                                var s4=s1.concat(s2,s3);
                                                                                                                var s6=s4.concat(s5);
                                                                                                                alert(s6);


                                                                                                                form2.submit();

                                                                                                               }

                                                                                        else{document.getElementById("yzts").innerText=had;
                                                                                            qstext.shift();qsanswer1.shift();qsid.shift();
                                                                                            document.getElementById("pic").src=qstext[0];
                                                                                            $("#display0").val("");

                                                                                            results=""; }
                                                                                        return;

                                                                                        }

                                                  else{     $("#display0").val("");
                                                            $("#display1").val("");
                                                            results="";
                                                            wrongcount.push(qsid[0]);

                                                             had+=1;
                                                             Message(wrong);
                                                             window.setTimeout("Deletms()",2000);
<!--                                                             document.getElementById("ts").innerText="";-->
                                                             if(had>qsamount){
                                                                                                                $("#zid").val(zid);
                                                                                                                $("#jid").val(jid);
                                                                                                                $("#tss").val(qsamount);
                                                                                                                $("#dd").val(correct);
                                                                                                                $("#wrong").val(wrongcount.toString());
                                                                                                                var s1="做对题数：";
                                                                                                                var s2=correct.toString();
                                                                                                                var s3=";点击确定或者关闭，保存数据。";
                                                                                                                var s4=s1.concat(s2,s3);
                                                                                                                var s6=s4.concat(s5);
                                                                                                                alert(s6);

                                                                                                                form2.submit();}
                                                             document.getElementById("yzts").innerText=had;
                                                             qstext.shift();qsanswer1.shift();qsid.shift();
                                                             document.getElementById("pic").src=qstext[0];
                                                             $("#display0").val("");

                                                              results=""; return;


                                                      }

                                                  }
else if (event.srcElement.innerText=="跳过"){    had+=1;
                                                 document.getElementById("ts").innerText="";
                                                 wrongcount.push(qsid[0]);
                                                 if(had>qsamount){
                                                                                                                $("#zid").val(zid);
                                                                                                                $("#jid").val(jid);
                                                                                                                $("#tss").val(qsamount);
                                                                                                                $("#dd").val(correct);
                                                                                                                $("#wrong").val(wrongcount.toString());
                                                                                                                var s1="做对题数：";
                                                                                                                var s2=correct.toString();
                                                                                                                var s3=";点击确定或者关闭，保存数据。";
                                                                                                                var s4=s1.concat(s2,s3);
                                                                                                                var s6=s4.concat(s5);
                                                                                                                alert(s6);

                                                                                                                form2.submit();}
                                                 document.getElementById("yzts").innerText=had;
                                                 qstext.shift();qsanswer1.shift();qsid.shift();
                                                 document.getElementById("pic").src=qstext[0];
                                                   $("#display0").val("");
                                                   $("#display1").val("");
                                                    results=""; return;

                                                }

else{
    if(select==1){ results+=event.srcElement.innerText;

                    $("#display0").val(results);return;
                    }
     else{results+=event.srcElement.innerText;

            $("#display1").val(results);return;}

}
<!--var ms=$('#display0').val();-->
<!--var ms1=$('#display1').val();-->
<!--console.log(ms);-->
<!--console.log(ms1);-->
<!--return;-->
}

function resultscalcaulte(){
if(select==1){ $("#display0").val(""); return;}
  else if(select==2){$("#display1").val("");return;}


}


</script>
</body>
</html>