{% extends 'xhlbase2.html' %}
{% block content %}
	
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">任务（一共有{{ page_of_notes.paginator.count }}个）</div>
                    <div class="panel-body">
                        {% for i in page_of_notes.object_list %}
                            <div class="blog">
                                <h3><a href="../../classnotes0/{{i.pk}}">{{ i.notename }}</a></h3>
                                <p class="blog-info">
                                    
                                    <span class="glyphicon glyphicon-time"></span>{{ i.notetime }}&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读({{ i.readed_num }})
                                </p>
                                <p>{{ i.notecontent|striptags|truncatechars:10 }}</p>
                                <hr/>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>-- 暂无相关讯息 --</h3>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div>

                <ul class="pagination">
                	<li>
                		{% if page_of_notes.has_previous %}
                		<a href="?page={{page_of_notes.previous_page_number}}" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                		</a>

                		{% else %}
                		<span aria-hidden="true">&laquo;</span>

                		{% endif %}
                		
                	</li>
                	{% for page_num in page_range %}
                	   {% if page_num == page_of_notes.number %}
                	   <li class="active"><span>{{ page_num }}</span></li>
                	   {% else %}
                	   <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                	   {%endif%}
                	 

                	{% endfor %}
                
                  
                  <li>

                		{% if page_of_notes.has_next %}
                		<a href="?page={{page_of_notes.next_page_number}}" aria-label="Next">
                			<span aria-hidden="true">&raquo;</span>
                		</a>

                		{% else %}
                		<span aria-hidden="true">&raquo;</span>

                		{% endif %}
                  	
                  </li>
                  </ul>
                  </div>

                </div>
                	


            </div>



{% endblock %}


