<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作业时间:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="time0"></td>
                </tr>
                <tr>

                    <td><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生ID:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:30px;font-size:16px" name="stu_id"></td>
                </tr>
                <tr>


                    <td><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;处理情况:</font></td>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ornot" value="已补做">已补做</td>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ornot" value="该生拒绝补做"> 该生拒绝补做</td>
                    <td><input type="checkbox" style="color:red;width:180px;height:30px;font-size:16px" name="ornot" value="未处理">未处理</td>
                    </tr>
                <tr>
                    <td><input type="submit" style="color:red;width:180px;height:30px;font-size:16px" value ="修改信息" ></td>
                </tr>


            </tbody>
        </table>
    </form>
</body>
</html>