{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'base2.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
<style type="text/css">
* {
    margin:0;
    padding: 0;
}
#bg{
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: #00FF00;
  margin-top: 250px;
  font-size:60px;
</style>
</head>
<body bgcolor="#b8fec0">


    <form id="bg" action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td><font size="6" >请输入姓名:</font></td>
                    <td><input type="text" style="color:red;width:180px;height:40px;font-size:20px" name="name"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" style="color:red;width:180px;height:40px;font-size:20px" value ="查询信息" ></td>
                </tr>


            </tbody>
        </table>
    </form>
<a><font size="5" color="red">{{ error}}</font></a>



</body>


</html>