{% extends 'base2.html' %}  
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><a><font size="6">{{ id0 }}-{{id1}}通过测试名单</font></a></div>
                    <div class="panel-body">
                        <div><font size="5" color="red">{{mss}}</font></div>
                        <div><font size="3" color="red">注意：提交后不管通过与否，以下表格都会有记录，如果没有请联系老师</font></div>
                      <table id="num" class="table table-bordered" >

         <tr>
             <td style="vertical-align: middle;" ><font size="4">排位</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">姓名</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">情况</font></td>
            <td class="warning" style="vertical-align: middle;"><font size="4">用时(秒）</font></td>
             <td class="warning" style="vertical-align: middle;"><font size="4">时间</font></td>

            
            
        </tr>
        {%for i in ms %}
            <tr id="hys" >
                <td style="vertical-align: middle;" > <font size="3" color="red"></font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.name}}</font></td>
                <td class="danger" style="vertical-align: middle;"><font size="3" color="red" >{{i.fs}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.costtime}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.time}}</font></td>
                <td class="active" style="vertical-align: middle;"><font size="3" color="red" >{{i.count}}</font></td>

            </tr>


        {% empty %}
        <p><font size="5" color="red">暂无相关信息</font></p>
        {% endfor %}

    </table> 
     </div>
                </div>
            </div>    
            </div>
     <div><font size="5" color="red">还没完成的名单：{{names}}</font></div>
<script language="javascript" type="text/javascript">
var rank=["荣耀王者","最强王者","星耀1","星耀2","星耀3","星耀4","星耀5","星耀6","星耀7","星耀8","星耀9","星耀10","钻石1","钻石2","钻石3","钻石4","钻石5","钻石6","钻石7","钻石8","钻石9","钻石10","黄金1","黄金2","黄金3","黄金4","黄金5","黄金6","黄金7","黄金8","黄金9","黄金10","白银1","白银2","白银3","白银4","白银5","白银6","白银7","白银8","白银9","白银10","青铜1","青铜2","青铜3","青铜4","青铜5","青铜6","青铜7","青铜8","青铜9"]
	    window.onload = function(){

		    var oTable = document.getElementById("num");
		    for(var i=0;i<oTable.rows.length;i++){
		    n=oTable.rows.length;
		    oTable.rows[i+1].cells[0].innerHTML =rank[i] ;
	    }

    }
    </script>
<!--<a><font size="6">未预习或者预习测试没通过的还有以下{{n}}位同学：</font></a><p></p>-->
<!--{%for j in mss%}-->
<!--     <a>{{j.name}},</a>-->
<!--{% empty %}-->
<!--<p><font size="5" color="red">已全部通过！</font></p>-->
<!--{% endfor %}-->


{% endblock %}

